/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
    font-family: 'Proxima Nova', sans-serif;
  }
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#__next {
  min-height: 100%;
}

.night-sky {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  min-height: 100vh;
}

/* Glowing text effect */
.glow-text {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Proxima Nova Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova/ProximaNova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}